
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Products</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='styleuser.css')}}>
</head>
<body>


  <div class = "colour" style = "background-color: rgb(236, 213, 255);">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/user">Products</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/cart">Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/purchased">Purchase</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Log out</a>
          </li>
        </ul>
        <form id = "searchform" method="post">
        <select class="form-select" id="field" name="field"aria-label="Default select example">
          <option value="categoryname" selected>Category Name</option>
          <option value="productname">Product Name</option>
        </select>
        <input type="text" id="search" name="search" class="form-control" placeholder="Search"/>
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
      </div>
    </div>
  </nav>
</div>




<div class="dummy">
{% for category in categories %}
<div class="categoryname">
<h1>{{category.categoryname}}</h1>
</div>
<div class="category">
{% for product in category.product %}
{% if (pname and pname in product.productname) or (not pname) %}
<div class="product">
<h2>{{product.productname}}</h2>
<h4>Price: Rs.{{product.price}}/{{product.unit}}</h4>
<h4>Manufacture Date: {{product.manudate}}</h4>
{% if product.stock %}
<form action="{{url_for('addcart', productid = product.id)}}" method="post">
<h4>Enter Quantity</h4>
  <input type="number" id="quantity" name="quantity" required>
<button type="submit" class="btn btn-success">Add to Cart</button>
</form>
{% else %}
<h5>Sorry! The product is unavailable</h5>
<button type="button" class="btn btn-secondary" disabled>Out of Stock</button>
{% endif %}

</div>
{% endif %}
{% endfor %}
</div>
{% endfor %}
</div>



</body>
</html>  